.services-content-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-image: url("services_container_bg.png"), none;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1100px 1840px;
    padding: 20px;
    max-width: 1060px;
    /*min-width: 1060px;*/
    min-height: 1800px;
    margin-top: 60px;
    z-index: -1;
}

.services-content-entry-wrapper {
    display: flex;
    width: 100%;
    /*background-image: url("entry_bg_pattern.png");*/
    background-blend-mode: soft-light;
    margin-bottom: 40px;
}

.services-content-filler-left {
    width: 530px;
    max-width: 530px;
    height: 100%;
}

.services-content-filler-right {
    font-size: 200px;
    font-weight: bold;
    color: #ffd400ff;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 530px;
    max-width: 530px;
    height: 100%;
}

.services-content-filler-image {
    min-width: 400px;
    max-width: 400px;
    height: 317px;
    padding: 4px;
    background: linear-gradient(35deg, #425357ff, #ff8200ff);
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.5));
}

.services-content-entry {
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.5));
    background: linear-gradient(35deg, #e13400ff, #ff8200ff);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    width: 530px;
    min-width: 530px;
    max-width: 530px;
}

.services-content-entry-header {
    display: flex;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    min-width: 530px;
    height: 80px;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    background: #333333;
}

.services-content-entry-body {
    display: flex;
    font-family: Ubuntu;
    font-size: 28px;
    text-align: left;
    /*align-items: center;*/
    justify-content: center;
    vertical-align: middle;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.services-content-qa {
    padding: 60px;
    background: #c14f14ff;
    border-radius: 10px;
    text-align: center;
    width: 490px;
    max-width: 490px;
    height: 300px;
}

.services-content-support {
    padding: 60px;
    background: #c14f14ff;
    border-radius: 10px;
    text-align: center;
    width: 490px;
    height: 300px;
}

.services-content-architecture {
    background: #c14f14ff;
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    width: 490px;
    height: 300px;
}

@media only screen and (max-width : 320px)  {
    .services-content-wrapper {
        max-width: unset;
        min-width: unset;
        background: none;
        padding: 0;
        width: unset;
        min-height: unset;
    }

    .services-content-entry-wrapper {
        margin-bottom: 40px;
    }

    .services-content-entry-header {
        font-size: 16px;
        height: 40px;
        min-width: unset;
        max-width: unset;
    }

    .services-content-entry {
        width: 100vw;
        height: unset;
        min-width: 200px;
        max-width: unset;
    }

    .services-content-entry-body {
        font-size: 12px;
        padding: 20px;
        height: auto;
    }

    .services-content-filler-left {
        display: none;
        width: 0;
        max-width: 0;
    }

    .services-content-filler-right {
        display: none;
        width: 0;
        max-width: 0;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .services-content-wrapper {
        max-width: unset;
        min-width: unset;
        background: none;
        padding: 0;
        width: unset;
        min-height: unset;
    }

    .services-content-entry-wrapper {
        margin-bottom: 40px;
    }

    .services-content-entry-header {
        font-size: 16px;
        height: 40px;
        min-width: unset;
        max-width: unset;
    }

    .services-content-entry {
        width: 100vw;
        height: unset;
        min-width: unset;
        max-width: unset;
    }

    .services-content-entry-body {
        font-size: 18px;
        padding: 20px;
        height: auto;
    }

    .services-content-filler-left {
        display: none;
        width: 0;
        max-width: 0;
    }

    .services-content-filler-right {
        display: none;
        width: 0;
        max-width: 0;
    }
}