/*.ask-form-overlay {*/
/*    position   : absolute;*/
/*    top        : 0;*/
/*    left       : 0;*/
/*    width      : 100%;*/
/*    height     : 100%;*/
/*    background : #000000;*/
/*    opacity    : 0.4;*/
/*    filter     : alpha(opacity=40);*/
/*    z-index    : 10;*/
/*    display    : block;*/
/*}*/

/*.ask-form-wrapper {*/
/*    z-index: 11;*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 1000px;*/
/*    background-color: #FFFFFF;*/
/*    opacity    : 1;*/
/*    filter     : none;*/
/*    padding: 40px;*/
/*    border: 1px solid #333333;*/
/*    overflow-y:auto*/
/*}*/

/*.ask-form-header {*/
/*    width: 100%;*/
/*    height: 32px;*/
/*    align-content: end;*/
/*    align-items: end;*/
/*    text-align: right;*/
/*}*/

/*.ask-form-content {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 20px;*/
/*}*/

/*.ask-form-exit-button {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-color: #FFFFFF;*/
/*    background-image: url("img/ask_form_exit_32x32.png");*/
/*    background-size: contain;*/
/*    background-attachment: local;*/
/*    background-repeat: no-repeat;*/
/*    outline: none;*/
/*    border: 0;*/
/*}*/

/*.ask-form-entry-wrapper {*/
/*    display: flex;*/
/*    background-color: #fafafa;*/
/*    border-width: 0;*/
/*    border-top: 1px solid;*/
/*    border-bottom: 1px solid;*/
/*    border-image:*/
/*            linear-gradient(*/
/*                    to right,*/
/*                    #333333,*/
/*                    #FFFFFF*/
/*            ) 100% 0;*/
/*    width: 900px;*/
/*    align-items: center;*/
/*    margin-bottom: 60px;*/
/*}*/

/*.ask-form-entry-title {*/
/*    display: flex;*/
/*    font-family: Ubuntu;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #333333;*/
/*    !*background-image: url("img/services_entry_header.png");*!*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    border: 1px solid #000000;*/
/*    height: 100%;*/
/*    min-height: 140px;*/
/*    width: 60px;*/
/*}*/

/*.ask-form-entry-title-text {*/
/*    -webkit-transform: rotate(270deg);*/
/*    -moz-transform: rotate(270deg);*/
/*    -ms-transform: rotate(270deg);*/
/*    -o-transform: rotate(270deg);*/
/*    transform: rotate(270deg);*/
/*}*/

/*.ask-form-entry-choice {*/
/*    font-family: Ubuntu;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.ask-form-button {*/
/*    font-family: Ubuntu;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    color: #FFFFFF;*/
/*    width: 240px;*/
/*    height: 60px;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    background-color: #e13400;*/
/*    margin-right: 20px;*/
/*    margin-left: 20px;*/
/*    outline: none;*/
/*}*/

/*.ask-form-right-filler {*/
/*    width: 4px;*/
/*    background-color: #000000;*/
/*    filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));*/
/*}*/

/*.ask-form-input-number {*/
/*    height: 40px;*/
/*    width: 200px;*/
/*    font-family: Ubuntu;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    margin-right: 20px;*/
/*}*/

/*.ask-form-input {*/
/*    box-sizing: border-box;*/
/*    min-height: 300px;*/
/*    width: 100%;*/
/*    font-family: Ubuntu;*/
/*    font-size: 18px;*/
/*    font-weight: normal;*/
/*    resize: none;*/
/*    border: none;*/
/*    padding: 40px;*/
/*    outline: none;*/
/*}*/