nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
}

/* Main classes*/
.main-header {
    margin: 0;
    background-color: #333333;
    color: #333333;
    height: 60px;
    width: 100%;
    min-width: 100%;
}

.hdr-outer {
    display: flex;
    max-width: 1200px;
    min-width: 800px;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

/* Inner classes */
.hdr-logo {
    display: flex;
    vertical-align: middle;
    flex: 1 0 286px;
    height: 36px;
    align-items: center;
    align-content: center;
    min-width: 381px;
}

.hdr-lang-menu {
    flex: 1 0 30px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.hdr-lang-dropdown {
    text-align: center;
    position: absolute;
    top: 100%;
    width: 100px;
    z-index: 100;
    margin-left: 1px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.hdr-lang-menu-button {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    display: block;
    background-color: #ff8200ff;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: none;
    z-index: 3;
}

.hdr-lang-menu-button:hover {
    background-color: #222b2d;
}

.hdr-lang-menu-selector {
    display: block;
    width: 60px;
    min-width: 60px;
    height: 60px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0;
    background-color: #333333;
    z-index: 3;
}

.hdr-lang-menu-selector:hover {
    background-color: #222b2d;
}

@media only screen and (max-width : 320px)  {
    nav {
        width: 100%;
        height: 100%;
    }

    /* Main classes*/
    .main-header {
        height: 30px;
        width: 100%;
        min-width: 220px;
    }

    .hdr-outer {
        width: 100%;
        height: 100%;
        min-width: 220px;
    }

    .hdr-inventory {
        min-width: 0;
    }

    /* Inner classes */
    .hdr-logo {
        display: flex;
        vertical-align: middle;
        flex: 1 0 70px;
        height: 100%;
        align-items: center;
        align-content: center;
        min-width: 70px;
        margin-left: 4px;
    }

    .hdr-logo img {
        max-height: 100%;
        max-width: 100%;
    }

    .hdr-lang-menu {
        flex: 1 0 30px;
        height: 100%;
        width: 30px;
        min-width: 0;
        margin-right: 4px;
    }

    .hdr-lang-dropdown {
        text-align: left;
        position: absolute;
        top: 100%;
        width: 120px;
        z-index: 100;
    }

    .hdr-lang-menu-button {
        font-family: "Ubuntu";
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;
        display: block;
        background-color: #555555;
        color: #FFFFFF;
        border: 0;
    }

    .hdr-lang-menu-selector {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    nav {
        width: 100%;
        height: 100%;
    }

    /* Main classes*/
    .main-header {
        height: 30px;
        width: 100%;
        min-width: 100%;
    }

    .hdr-outer {
        width: 100%;
        height: 100%;
        min-width: 0;
    }

    .hdr-inventory {
        min-width: 0;
    }

    /* Inner classes */
    .hdr-logo {
        display: flex;
        vertical-align: middle;
        flex: 1 0 111px;
        height: 100%;
        align-items: center;
        align-content: center;
        min-width: 111px;
        margin-left: 4px;
    }

    .hdr-logo img {
        height: 15px;
        min-width: 119px;
    }

    .hdr-lang-menu {
        flex: 1 0 30px;
        height: 100%;
        width: 30px;
        min-width: 0;
        margin-right: 4px;
    }

    .hdr-lang-dropdown {
        text-align: left;
        position: absolute;
        top: 100%;
        width: 120px;
        z-index: 100;
    }

    .hdr-lang-menu-button {
        font-family: "Ubuntu";
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;
        display: block;
        border: 0;
    }

    .hdr-lang-menu-selector {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}