.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 120px;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-container {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.footer-copyright {
    background-repeat: repeat-x;
    background-image: url("../home/body_pattern.png"), linear-gradient(180deg, #444444, #425357);
    background-size: initial;
    background-attachment: local;
    background-position: top;
    display: flex;
    width: 100%;
    min-height: 64px;
    max-height: 64px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.footer-contacts-container {
    font-family: Ubuntu;
    font-size: 14px;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #555555;
    color: #BBBBBB;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6px;
}

.footer-contacts-email {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #BBBBBB;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0;
    margin-left: 40px;
}

.footer-contacts-email:hover {
    color: #FFFFFF;
}

.footer-contacts-ask-button {
    display: flex;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 240px;
    min-width: 240px;
    height: 80%;
    border: none;
    border-radius: 6px;
    background-color: #e13400;
    margin-left: 100px;
    margin-right: 40px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.footer-contacts-ask-button:hover {
    background-color: #ff8200ff;
}

@media only screen and (max-width : 320px)  {
    .footer {
        background-color: #333333;
        min-width: 220px;
        max-height: unset;
        min-height: unset;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        min-width: 200px;
        padding: 10px;
        margin: unset;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-contacts-container {
        height: 40px;
        width: 100%;
    }

    .footer-contacts-ask-button {
        font-size: 8px;
        width: 60px;
        min-width: 60px;
        margin-left: 10px;
        margin-right: 0;
    }

    .footer-contacts-email {
        font-size: 8px;
        margin: 0;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .footer {
        background-color: #333333;
    }

    .footer-container {
        min-width: 280px;
    }

    .footer-contacts-container {
        height: 40px;
    }

    .footer-contacts-ask-button {
        font-size: 12px;
        width: 120px;
        min-width: 120px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .footer-contacts-email {
        margin-left: 20px;
    }
}