.hdr-inventory {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    /*flex: 1 0 100%;*/
    height: 100%;
    justify-content: center;
}

.hdr-inventory-nav {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    min-width: 300px;
    /*flex: 1 0 100%;*/
    height: 100%;
    justify-content: center;
    margin: auto;
}

.hdr-inv-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-family: "Ubuntu";
    height: 100%;
    vertical-align: middle;
}

.hdr-inv-button:hover {
    background-color: #222b2d;
}

.hdr-inv-button:focus {
    background-color: #ff8200ff;
}

@media only screen and (max-width : 320px)  {
    .hdr-inv-button {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 8px;
    }

    .hdr-inventory-nav {
        min-width: 200px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .hdr-inventory {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        /*flex: 1 0 100%;*/
        height: 100%;
        justify-content: center;
        margin-left: 4px;
        margin-right: 0;
    }

    .hdr-inventory-nav {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        min-width: 172px;
        /*flex: 1 0 100%;*/
        height: 100%;
        justify-content: center;
        /*margin: auto;*/
        vertical-align: middle;
    }

    .hdr-inv-button {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
        font-family: "Ubuntu";
    }
}