.ask-form-wrapper {
    background-color: #FFFFFF;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.ask-form-header {
    width: 100%;
    height: 32px;
    align-content: end;
    align-items: end;
    text-align: right;
}

.ask-form-content {
    display: flex;
    flex-wrap: wrap;
}

.ask-form-exit-button {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    background-image: url("img/ask_form_exit_32x32.png");
    background-size: contain;
    background-attachment: local;
    background-repeat: no-repeat;
    outline: none;
    border: 0;
}

.ask-form-entry-wrapper {
    display: flex;
    background-color: #fafafa;
    border-width: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image:
            linear-gradient(
                    to right,
                    #333333,
                    #EEEEEE
            ) 100% 0;
    width: 100%;
    min-width: 900px;
    align-items: center;
    margin-top: 20px;
}

.ask-form-entry-wrapper-compact {
    margin: 0;
    border-top: none;
}

.ask-form-entry-title {
    display: flex;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    /*color: #FFFFFF;*/
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    /*background-color: #333333;*/
    /*background-image: url("img/services_entry_header.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    /*border: 1px solid #000000;*/
    height: 100%;
    min-width: 260px;
    /*width: 60px;*/
}

.ask-form-entry-title-text {
    /*-webkit-transform: rotate(270deg);*/
    /*-moz-transform: rotate(270deg);*/
    /*-ms-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
    /*transform: rotate(270deg);*/
}

.ask-form-entry-choice {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.ask-form-button {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    background-color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.ask-form-button:hover {
    background-color: #ff8200;
    color: #ffffff;
}

.ask-form-button.active {
    background-color: #ff8200;
    color: #ffffff;
}

.ask-form-right-filler {
    width: 4px;
    background-color: #000000;
    filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
}

.ask-form-input {
    height: 40px;
    width: 100%;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
}

.ask-form-text-area {
    box-sizing: border-box;
    min-height: 300px;
    width: 100%;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: normal;
    resize: none;
    border: 1px solid #aaaaaa;
    padding: 40px;
    outline: none;
}

.send-button-wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}

.send-button {
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #e13400;
    padding: 20px;
    min-width: 200px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.send-button:hover {
    background-color: #ff8200;
}

@media only screen and (max-width : 320px)  {
    .ask-form-wrapper {
        border-top: 1px #333333 solid;
    }

    .ask-form-header {
        height: 32px;
    }

    .ask-form-exit-button {
        width: 32px;
        height: 32px;
    }

    .ask-form-entry-wrapper {
        min-width: 200px;
        margin-top: 8px;
    }

    .ask-form-entry-wrapper-compact {
        margin: 0;
        border-top: none;
    }

    .ask-form-entry-title {
        font-size: 10px;
        min-width: 80px;
    }

    .ask-form-entry-choice {
        font-size: 10px;
        margin: 4px;
    }

    .ask-form-button {
        font-size: 10px;
        width: 90px;
        height: 30px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 2px;
    }

    .ask-form-button:hover {
        background-color: #ff8200ff;
    }

    .ask-form-button.active {
        background-color: #ff8200ff;
    }

    .ask-form-right-filler {
        width: 4px;
        background-color: #000000;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
    }

    .ask-form-input {
        height: 20px;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ask-form-text-area {
        min-height: 100px;
        font-size: 10px;
        padding: 10px;
    }

    .send-button-wrapper {
        margin-top: unset;
    }

    .send-button {
        padding: 6px;
        font-size: 10px;
        min-width: 80px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px) {
    .ask-form-wrapper {
        border-top: 1px #333333 solid;
    }

    .ask-form-header {
        height: 32px;
    }

    .ask-form-exit-button {
        width: 32px;
        height: 32px;
    }

    .ask-form-entry-wrapper {
        min-width: 280px;
        margin-top: 20px;
    }

    .ask-form-entry-wrapper-compact {
        margin: 0;
        border-top: none;
    }

    .ask-form-entry-title {
        font-size: 14px;
        min-width: 120px;
    }

    .ask-form-entry-choice {
        font-size: 14px;
        margin: 4px;
    }

    .ask-form-button {
        font-size: 14px;
        width: 120px;
        height: 40px;
        margin: 4px;
        padding: 4px;
    }

    .ask-form-button:hover {
        background-color: #ff8200ff;
    }

    .ask-form-button.active {
        background-color: #ff8200ff;
    }

    .ask-form-right-filler {
        width: 4px;
        background-color: #000000;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
    }

    .ask-form-input {
        height: 20px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ask-form-text-area {
        min-height: 100px;
        font-size: 14px;
        padding: 10px;
    }

    .send-button-wrapper {
        margin-top: unset;
    }

    .send-button {
        font-size: 14px;
        min-width: 120px;
    }
}