.slider-arrow-wrapper {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.slider-arrow-button {
    display: block;
    width: 64px;
    height: 64px;
    opacity: 0.7;
    background: url("arrow/slider_arrow_64x64_left.png") no-repeat 16px;
    background-size: 24px 24px;
    border: 1px solid #AAAAAA;
    border-radius: 100%;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

.slider-arrow-button:hover {
    opacity: 1.0;
}

.slider-arrow-button.right {
    transform: rotateY(180deg);
}

.slider-arrow-inactive {
    width: 64px;
    height: 64px;
    opacity: 75%;
    /*background-image: url("slider_arrow_64x64_left.png");*/
}

.slick-prev:before,
.slick-next:before {
    color: #333333!important;
}